body {
    font-family: "JetBrains Mono", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

form {
    text-align: center;
}
.jetbrains-mono-font-ball {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    font-family: "JetBrains Mono", sans-serif;

}

button {
    font-family: "JetBrains Mono", sans-serif;
    background-color: #ed4830;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
}

select {
    font-family: "JetBrains Mono", sans-serif;
    font-style: oblique;
}

h1 {
    text-align: center;
}

th, td {
    border-bottom: 1px solid #ddd;
  }

tr:hover {background-color: coral;}

.available-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

#available-links {
    align-self: start;
    align-content: center;
}

#field-container {
    padding-top: 20px;
    padding-right: 20px;
    display: block;
}

.flashes {
    list-style: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashes li.success {
    background-color: #d4edda;
    color: #155724 !important;
}

.flashes li.danger {
    background-color: #f8d7da;
    color: #721c24 !important;
}
