{% extends "base.html" %}

{% block title %}SQL Table Settings{% endblock %}

{% block content %}
  <form method="POST" action="{{ url_for('generate_table_model') }}">
    {{ form.hidden_tag() }}
    <div id="dynamic-fields">
      {% for subfield in form.dynamic_fields %}
        <div>
          {{ subfield.field_name.label }} {{ subfield.field_name(size=20) }}
          {{ subfield.field_type.label }} {{ subfield.field_type() }}
        </div>
      {% endfor %}
    </div>
    <hr />
    <button type="button" id="add-field">Add Field</button>
    <button type="button" id="remove-field">Remove Field</button>
    <button type="submit">{{ form.submit.label }}</button>
  </form>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#add-field').click(function() {
        let newIndex = $('#dynamic-fields div').length;
        $('#dynamic-fields').append(
          '<div id="field-container">' +
          '<label for="dynamic_fields-' + newIndex + '-field_name">Название</label> ' +
          '<input id="dynamic_fields-' + newIndex + '-field_name" name="dynamic_fields-' + newIndex + '-field_name" type="text" size="20">' +
          '<label for="dynamic_fields-' + newIndex + '-field_type">Тип</label> ' +
          '<select id="dynamic_fields-' + newIndex + '-field_type" name="dynamic_fields-' + newIndex + '-field_type">' +
          '<option value="text">Text</option>' +
          '<option value="number">Number</option>' +
          '<option value="date">Date</option>' +
          '</select>' +
          '</div>'
        );
      });

      $('#remove-field').click(function() {
        $('#dynamic-fields div').last().remove();
      });
    });
  </script>
{% endblock %}