{% extends "base.html" %}

{% block title %}Postgres Settings{% endblock %}

{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.database_type.label }}<br>
            {{ form.database_type(size=4) }}
        </p>
        <p>
            {{ form.host.label }}<br>
            {{ form.host(size=32) }}
        </p>
        <p>
            {{ form.port.label }}<br>
            {{ form.port(size=32) }}
        </p>
        <p>
            {{ form.database_name.label }}<br>
            {{ form.database_name(size=32) }}
        </p>
        <p>
            {{ form.login.label }}<br>
            {{ form.login(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if tables %}
        <h2>Available Tables:</h2>
        <!-- <ul>
            {% for table in tables %}
                <li>{{ table }}</li>
            {% endfor %}
        </ul> -->
        <table>
            <tr>
                <thead>Таблицы</thead>
            </tr>
            {% for table in tables %}
            <tr>
                <td>
                    <li>{{ table }}</li>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
