{% extends "base.html" %}

{% block title %}RabbitMQ Settings{% endblock %}

{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.consumer_name.label }}<br>
            {{ form.consumer_name(size=32) }}
        </p>
        <p>
            {{ form.broker_url.label }}<br>
            {{ form.broker_url(size=32) }}
        </p>
        <p>
            {{ form.queue_name.label }}<br>
            {{ form.queue_name(size=32) }}
        </p>
        <p>
            {{ form.exchange_name.label }}<br>
            {{ form.exchange_name(size=32) }}
        </p>
        <p>
            {{ form.routing_key.label }}<br>
            {{ form.routing_key(size=32) }}
        </p>
        <p>
            {{ form.db.label }}<br>
            {{ form.db(size=1) }}
        </p>
        <p>
            {{ form.table.label }}<br>
            {{ form.table() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    
{% endblock %}